<form class="form" #itemForm="ngForm" (ngSubmit)="addItem()">

  <mat-form-field hideRequiredMarker class="full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput required type="text" placeholder="e.g. iPhone 8" [(ngModel)]="newItem.name" name="name">
  </mat-form-field>
  <mat-form-field hideRequiredMarker class="full-width" appearance="fill">
    <mat-label>Amount</mat-label>
    <input matInput required type="number" min=0 value=1 [(ngModel)]="newItem.amount" name="amount">
  </mat-form-field>

  <button
    [disabled]="!itemForm.form.valid"
    mat-raised-button
    color="primary"
    type="submit"
    class="main-button">
    Add item
  </button>

</form>
