mat-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

.button-container  {
  position: absolute;
  right:    20px;
  bottom:   20px;
}

#remove-button mat-icon {
  font-size: 35px;
}
